extends layout.pug

block tool
  h1 Welcome to Tools For U!
  p Any tools you can think about, we have them! We are 
    a(href="") open source project
    | , our mission to create the biggest tools website with all the tools you will need!
